
.ant-card{
    width: 250px ;
}

.ant-card-body{
    background-color: rgb(190, 218, 255);
}

.ant-card-meta-title{
    color: #1e3a8a !important;
    font-style: normal !important;
    text-transform: capitalize !important;
    font-weight: normal !important;
}

.deleteIcon{
    size: 6px;
    &:hover{
        transition: transform .7s;
        transform: scale(1.5);
        cursor: pointer;
    }
}

.buttons,.datePicker{
    position:relative;
    left:40%;
}
.datePicker{
bottom: 10px;

}