
.ant-card{
    width: 240px ;
}
.ant-card-body{
    background-color: #69D2E7;
   
}


.deleteIcon{
    size: 6px;
    &:hover{
        transition: transform .7s;
        transform: scale(1.5);
        cursor: pointer;
    }
}

.buttons,.datePicker{
    position:relative;
    left:40%;
}
.datePicker{
bottom: 10px;

}