.addButton {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom:15%;
    background-color: green;
    color:white
}

.datePicker{
    position: absolute;
    left: 50%;
    right: 50%;
}